.fullSpace{
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  width: 100% !important;
}

.fullSpace .col-2{
  padding: 0px !important;
}

.centerThing{
  display: block;
  margin: auto !important;
}
