.education_table{
}

.education_table a:first-child{
    text-decoration: none;
    color: inherit;
}

.education_logo_div{
    width: 100px;
    height: 50px;
}

.education_logo{
    width: 100%;
    object-fit: contain;
}